<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MyFirstTestNgSuite" verbose="1" >
    <test name="FirstTest" >
        <classes>
            <class name="TestRunner" >

                <methods>
                    <include name="ThisIsTestMethod1" />
                    <include name="ThisIsTestMethod2" />
                    <exclude name="ThisIsTestMethod3" />

                </methods>

            </class>
        </classes>
    </test>

</suite>